<!DOCTYPE html>
<html ng-app="ChaDePanela">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lucas e Gabriela - Chá de Panela</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="components/materialize/bin/materialize.css" />
    <link rel="stylesheet" href="assets/css/cha-de-panela.css">
    <!-- endbower -->
</head>
<body>
    <div class="parallax-container">
        <div parallax class="green lighten-2"><img src="assets/img/background2-minified.jpg" alt="Lucas e Gabriela"></div>
    </div>
    <header class="white-text">
        <div class="container">
            <div class="row center">
                <div class="col s12" style="padding:100px 0px 50px;">
                    <h1>Lucas e Gabriela</h1>
                    <h4>Chá de Panela</h4>
                </div>
            </div>
            <div class="row">
                <div class="col s12" style="padding:50px 0 100px;">
                    <p>Caminhamos juntos ao longo dos anos, agora dando continuação a nossa jornada, convido você para fazer parte da nossa história.</p>
                    <p class="right-align">Obrigado pela presença.</p>
                </div>
            </div>
        </div>
    </header>
    <main ng-controller="Presentes as presentes">
        <div class="container">
            <div class="row">
                <header class="s12">
                    <h2>Lista de Presentes</h2>
                </header>
            </div>

            <div>
                <!-- Gatilho da Modal -->
                <a class="btn hide" href="#presenteadorModal" id="btnModal" modal>Presenteador</a>
                <!-- Estrutura da Modal -->
                <form id="presenteadorModal" class="modal">
                    <div class="modal-content">
                        <div class="row">
                            <div class="col s12">
                                <h4>Obrigado!</h4>
                                <p>Por favor coloque seu nome para que eu possa lhe agradecer propriamente:</p>
                            </div>

                            <div class="input-field col s12">
                                <input type="text" ng-model="nomePresenteador" name="nomePresenteador" id="nomePresenteador" required>
                                <label class="active" for="nomePresenteador">Escreva seu nome</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:void(0);" id="btnModalClose" class="modal-close hide">Fechar</a>
                        <a href="javascript:void(0);" class="btn modal-action waves-effect" ng-click="onSubmitModal($event)">
                            <span>Presentear</span>

                        </a>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="s12">
                    <ul class="collection with-header" ng-if="presentesEspeciais">
                        <li class="collection-header"><h4>Presentes Especiais ◕ ‿‿ ◕</h4></li>
                        <li class="collection-item" ng-repeat="presente in presentesEspeciais | filter:{mostrar:1}">
                            <input type="checkbox" id="presente-especial-{{$index}}" ng-checked="{{presente.presenteador.length}}" ng-click="onClickPresente($event, $index)" />
                            <label for="presente-especial-{{$index}}">
                                {{presente.nome}}
                                <span ng-if="presente.presenteador.length"> - <b>{{presente.presenteador}}</b></span>
                            </label>
                        </li>
                    </ul>

                    <ul class="collection with-header" ng-if="presentesNormais">
                        <li class="collection-header"><h4>Mais Presentes ◕‿◕</h4></li>
                        <li class="collection-item" ng-repeat="presente in presentesNormais | filter:{mostrar:1}">
                            <input type="checkbox" id="presente-normal-{{$index}}" ng-checked="{{presente.presenteador.length}}" ng-click="onClickPresente($event, $index)" />
                            <label for="presente-normal-{{$index}}">
                                {{presente.nome}}
                                <span ng-if="presente.presenteador.length"> - <b>{{presente.presenteador}}</b></span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <!-- bower:js -->
    <script src="components/jquery/dist/jquery.js"></script>
    <script src="components/materialize/bin/materialize.js"></script>
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-materialize/src/angular-materialize.js"></script>
    <script src="components/angular-filter/dist/angular-filter.min.js"></script>
    <!-- endbower -->

    <script src="modules/ChaDePanela/app.js"></script>
    <script src="modules/ChaDePanela/services/lista-de-presentes.js"></script>
    <script src="modules/ChaDePanela/controllers/presentes.js"></script>
</body>
</html>