@charset "utf-8";

.parallax-container,
body > header {
    height: 650px;
}

body > header {
    position:absolute;
    top: 0;
    left:0;
    right: 0;
}

.parallax-container img {
    margin-top: -54px;
    -webkit-transition: -webkit-filter 2s ease, opacity 2s ease;
}

@media only screen and (max-width: 480px) {
    .parallax-container img {
        height: 650px;
        margin-left: 130px;
    }
}

@media only screen and (min-width: 480px) {
    .parallax-container img {
        height: 650px;
        margin-left: 100px;
    }
}

@media only screen and (min-width: 600px) {
    .parallax-container img {
        margin-left: 150px;
    }
}

@media only screen and (min-width: 865px) {
    .parallax-container img {
        margin-left: 100px;
    }
}

@media screen and (min-width: 960px) {
    .parallax-container img {
        height: 770px;
        margin-left:50px;
    }
}

@media screen and (min-width: 1080px) {
    .parallax-container img {
        height: auto;
        width: 100%;
        margin-left: 0;
    }
}

.parallax-container img.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    opacity: 0.8;
}